<!DOCTYPE HTML>
<html>
<head>
    <title> REFPROP {{ state }} issues </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="//code.jquery.com/ui/1.9.2/themes/humanity/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>

<body>
    {% for repo in repos %}
    <h3>{{ repo }}</h3>
    <table>
        <thead>
        <tr id="header_row" class="ui-widget-header">
            <th class="status">Issue #</th>
            <th class="data_id">Title</th>
            <th class="assignees">Assignees</th>
            <th class="note">Note</th>
        </tr>
        </thead>
        <tbody id="table_contents" class="ui-widget-content">
            {% for item in items %}
                {% if item.repo == repo %}
                <tr class="datas">
                    <td class="issuenum"><a href="https://github.com/{{ item.repo}}/issues/{{ item.issue_num }}">#{{ item.issue_num }}</a></td>
                    <td style="width:400px" class="title">{{ item.title }}</td>
                    <td class="assignees">{{ item.assignees }}</td>
                    <td class="note">{{ item.note }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

</body>
Notes Log: <br>
<textarea cols=120, rows=40> {{ log_message }} </textarea>
</html>